.grid-item-wrapper{
    padding: 0em;
}

.grid-item {
    margin: 10px;
}

@media only screen and (min-width: 2000px) {
    /* For mobile phones: */
    .grid-item-wrapper{
        padding: 1.5em;
        padding-left: 0;
    }
    
}