.verifiedFilter {
    margin-left: auto;
}


@media only screen and (max-width: 600px) {
    .dropdown-button {
        margin-bottom: 10px;
    }
    .verifiedFilter {
        margin-left: 0;
        margin-bottom: 10px;
    }
  }
