@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
html, body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 62.5px); /*100% of the viewport height - header height*/
}

.content {
    flex: 1 0 auto;
    font-family: 'Open Sans', serif;
    font-size: 1rem;
    padding: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.footer {
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.search-style {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .content {
        padding: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .l-box {
        padding: 0;
    }
}

@media only screen and (min-width: 2000px) {
    /* For mobile phones: */
    .content {
        padding: 1em;
        margin-left: 15em;
        margin-right: 15em;
    }

    .l-box {
        padding: 1em;
    }
}
