.menu {
    height: 40px;
}


.general {
    background-color: #292E49;
    width: 100%;
    margin-bottom: 10px;
}

.landing-style {
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
}

.landing-style .general li {
    width: 100px;
}

.landing-style li a,
.general li a {
    color: white;
    text-align: center;
}

.landing-style .pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus,
.general .pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    background-color: transparent;

}

.landing-style li a:hover,
.general li a:hover {
    background-color: none;
}

.landing-style li::before,
.general li::before  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .35s ease-in-out;
}

.landing-style li:hover::before,
.general li:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
